#leftcontent {
	float: left;
	/*background-color:green;*/
	width: 200px;
}

#maincontent {
	float: left;
}

.textox {
	width: 200px;
	height: 20px;
	border: solid 2px #00E3E3;
	padding: 2px;
	border-radius: 5px;
	font-size: 12px;
	box-shadow: 0px 1px 2px 0px #9C9C9C;
	background-color: #FFFFFF;
	outline: none;
	color: #474747;
}

.textox:hover {
	border: 2px solid #FF00D5;
}

.textox:focus {
	border: solid 2px #00D43C;
	box-shadow: inset 0px 1px 2px 0px #9C9C9C;
}

.textox:active {
	border: solid 2px #0043EB;
}

#header {
	width: 100%;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	background-size: cover;
	background: #5e9ded;
	color: #fff;
	height: 60px;
	left: 0%;
	margin-top: 25px;
	padding-left: 25px;
	z-index: 1;
}

#header .logo {
	display: block;
	text-align: center;
	background-color: #29466a;
	height: 100%;
	width: 370px;
	padding-top: 0px;
}
#progressbar-left{
	clear:left;
	width:200px;
	float:left;
}
#progressbar{
	float:left;
	width:400px;
}

#status{
	padding-left:200px;
	padding-top:100px;
}

#rightcontent{
	height:200px;
	float:left;	
}